[2015-04-01 05:57] ggilder opened #1 "Allow custom formatting for --help, --version, --trace options"
_From @gabemc on October 22, 2010 18:2_

You hard code the text strings for the default global options.  It is often necessary to manually reset those, to support things like internationalization.

_Copied from original issue: tj/commander#23_

[2015-04-01 05:57] ggilder commented on #1
_From @gretel on November 13, 2014 12:39_

:+1:

[2015-04-01 05:57] ggilder commented on #1
_From @tejasmanohar on November 23, 2014 22:27_

Yeah, only option now is to dig through code and find things like `never_trace!` then override above your CLI's code :(

[2015-04-01 05:58] ggilder opened #2 "Include bash tab completion for commands"
_From @suan on March 1, 2012 17:30_

This just struck me as something very useful and practical to include as a feature. I'm only very vaguely familiar on how bash tab completion works, so I have no idea of the work it would involve. If its a significant effort though I might be willing to help - its something that I've always wanted in my scripts!

_Copied from original issue: tj/commander#41_

[2015-04-01 05:58] ggilder commented on #2
That's a great idea - I'm not really familiar with setting up bash completion either. If you want to take a stab at it that would be awesome.

[2015-04-01 05:58] ggilder commented on #2
_From @Shumkov on May 22, 2012 8:19_

https://github.com/mernen/completion-ruby

[2015-04-01 05:58] ggilder commented on #2
_From @Shumkov on May 22, 2012 8:19_

http://itshouldbeuseful.wordpress.com/2011/11/30/custom-bash-auto-completion-using-ruby/

[2015-04-01 05:58] ggilder commented on #2
_From @slnovak on November 25, 2013 4:7_

:+1:

[2015-04-01 05:58] ggilder commented on #2
_From @deepak1556 on December 24, 2013 14:0_

https://github.com/antirez/linenoise, works for most of the terminals out there.

[2015-04-01 05:58] ggilder commented on #2
_From @tuxjobs on June 6, 2014 12:26_

:+1:

[2015-04-01 05:58] ggilder commented on #2
_From @simonweil on January 19, 2015 21:43_

:+1:

[2015-04-01 05:58] ggilder opened #3 "Mandatory options?"
_From @deric on October 21, 2013 13:44_

Is it possible to specify an option which will be required in order to run command?

_Copied from original issue: tj/commander#62_

[2015-04-01 05:58] ggilder commented on #3
There's not an automatic way to do that, but you could use something like this:
[code]

[2015-04-01 05:58] ggilder commented on #3
_From @deric on October 28, 2013 8:16_

Ok, thanks. It would be nice to have something like this:

[code]
When mandatory option would be missing, usage will be printed.

[2015-04-01 05:58] ggilder commented on #3
_From @sihil on November 11, 2013 17:57_

I'd like to see an easy way to have mandatory options as well.

[2015-04-01 05:58] ggilder commented on #3
_From @mattes on March 27, 2014 2:19_

:+1:

[2015-04-01 05:58] ggilder commented on #3
_From @odcinek on May 1, 2014 13:8_

:+1:

[2015-04-01 05:58] ggilder commented on #3
_From @Sdogruyol on August 9, 2014 18:28_

Is there any update on this ?

[2015-04-01 05:58] ggilder commented on #3
Pull requests are welcome! I think this would not be too tricky to implement. In the meantime there's always the workaround I posted above.

[2015-04-01 05:58] ggilder commented on #3
_From @Sovietaced on March 25, 2015 7:18_

:+1:

[2015-04-01 05:59] ggilder opened #4 "The `find` statement fails on Windows"
_From @kodybrown on March 11, 2014 17:0_

The following statement fails; user_interaction.rb line #240:

    find {|name| system("hash #{name.split.first} 2>&-") }

I changed it to this, which now works:

    find {|name| system("hash #{name.split.first} 2>&1") }

But, now I don't know where to find `hash`.. Is this a bash util or built-in lib somewhere? I tried `gem install hash` but it does not

[2015-04-01 05:59] ggilder commented on #4
`hash` is a shell builtin that shows you the cached hash table of available commands.

It looks like a change to `&1` would be ok here since we're not using the output of `hash`. Normally `&-` is used to close a file descriptor, see http://www.tldp.org/LDP/abs/html/io-redirection.html

Does that change solve the issue for you, or is there still some issue with `hash`?

If it solves it feel free to

[2015-04-01 05:59] ggilder opened #5 "post-argument-parsing hook"
_From @smackesey on October 16, 2014 15:43_

Is there any way to do some processing (add to options object, set instance variables and so on) after all options have been parsed but before any command has been run? If not, this would be a useful feature (I'd be willing to implement it in a PR)-- if it exists, then I think it should be mentioned in the README.

_Copied from original issue: tj/comman

[2015-04-01 05:59] ggilder commented on #5
I don't think what you describe exists today. However, I'm having a hard time imagining a good use case for such a feature. Could you maybe give a short example of how such a feature would be used?

[2015-04-01 05:59] ggilder commented on #5
_From @smackesey on October 20, 2014 19:30_

@ggilder Sure. The use I have in mind is for global options. As far as I'm aware, there is no way to invoke the `#default` method of the option struct before you're inside an action block. This requires you to repeat code if you want to set defaults on global options. The same goes for any processing of the global options that'd you like to do (e.g. loa

[2015-04-01 05:59] ggilder commented on #5
Hmm, maybe I'm mistaken but setting defaults seems pretty straightforward already. I'd probably use something like the following:

[code]

Similarly with command options, the `default` method just takes a hash so it's easy enough to extract that:

[code]

As far as post-processing the options, the examples you give seem pretty domain-specific, so my instinct would be to delegate that to your own c

[2015-04-01 05:59] ggilder commented on #5
_From @akostadinov on February 16, 2015 22:43_

What @smackesey is seems to be describing and what I see useful is to allow initialization based on global options. For example a program doing DB query may want to open a DB connection regardless of command in use. And without need for all commands to call same initialization method.

[code]

[2015-04-01 05:59] ggilder commented on #5
@akostadinov practically speaking, couldn't you just run that initialization code before the commander stuff? e.g.:

[code]

I don't really see what advantage you'd get by putting that in a commander hook.

[2015-04-01 05:59] ggilder commented on #5
_From @akostadinov on February 16, 2015 23:12_

@ggilder , in your example I don't have access to parsed `global_options`. That's the issue. e.g. I don't have access to database credentials before parameters are parsed.

[2015-04-01 05:59] ggilder commented on #5
Thanks, I think I see the use case now. I think this would be a relatively straightforward change to `Commander::Runner#parse_global_options`. If you're interested in putting together a pull request I can help with any questions you have.

[2015-04-01 05:59] ggilder commented on #5
_From @akostadinov on February 17, 2015 18:53_

Please comment on pull #96

[2015-04-01 05:59] ggilder commented on #5
_From @akostadinov on February 18, 2015 6:10_

On the other hand this whole feature might be stupid after all. If I want to get a database, then I can have a method to get me the DB connection object (in contrast with setting up an `@db` variable within the after_global_options hook). When I call that `#db` method it will either return `@db` if it exists or try creating a new connection.
I'm not s

[2015-04-01 05:59] ggilder commented on #5
I guess my assumption is that on something like `help` the user is not providing the necessary global options that would cause the expensive connection to get set up.

However, I personally agree with the skepticism — for something that needs a complex level of setup I would probably prefer to have that managed by my own module, using Commander as the translation between CLI and this module.

[2015-04-01 05:59] ggilder opened #6 "Option parsing error (incomplete option name)"
_From @d-ash on February 14, 2015 8:40_

Passing only a *beginning* of a name triggers the option to be set.

For example, if --vagrant option is declared, passing --v or --va... to the script, works as if the full name has been passed.

However, global options work correctly (--v is not equivalent to --vagrant)

_Copied from original issue: tj/commander#93_

[2015-04-01 05:59] ggilder commented on #6
_From @d-ash on February 14, 2015 8:55_

It seems that the problem is in OptionParser, and it's an old issue.
Could this be corrected within Commander code?

[2015-04-01 05:59] ggilder commented on #6
Do you have a link to the issue in OptionParser? I would like to understand why it hasn't been fixed there.

[2015-04-01 05:59] ggilder commented on #6
_From @d-ash on February 17, 2015 8:26_

https://www.ruby-forum.com/topic/143551
http://stackoverflow.com/questions/20654065/how-do-i-get-only-long-options-work-in-optionparser-in-ruby
I'd agree with the point that this behaviour is potentially dangerous. Options of CLI tools are very important part of UI, and they have to be processed rigorously, without any guessing and auto-completion.

[2015-04-01 06:00] ggilder opened #7 "Able to access options set by global_option() outside of the command block"
_From @pruan-rht on February 16, 2015 18:0_

Sometime, it's useful to be able to access options that at set in the global_option() be accessible outside of the command block so that I can do initialization of codes that are global to all sub commands.  For example

global_option('-p', '--plan_id PLAN_ID_OR_NAME', 'specify the plan name or plan id')

command :rename do |c|
  ...
  c.action do |arg,

[2015-04-01 06:00] ggilder commented on #7
_From @akostadinov on February 16, 2015 18:17_

I am thinking that a separate `initialization` block could be defined by user. And if that block is present, then it should be executed before the block of the `command` is called. Would such modification to commander be possible?

[2015-04-01 06:00] ggilder commented on #7
@pruan-rht Can you put together a code sample for how you would want to use the global option? I'm not sure why you need to access the option outside of the command block.

@akostadinov your suggestion seems to address a different issue; and I'm not really sure what use case that helps with. Again, a code sample of intended usage would be great for discussion.

[2015-04-01 06:00] ggilder commented on #7
Also, I had some suggestions for a similar problem on this issue: https://github.com/tj/commander/issues/81

Please take a look and let me know if that addresses your use case or not.

[2015-04-01 06:00] ggilder commented on #7
_From @pruan-rht on February 16, 2015 22:56_

@ggilder, thanks for getting back so fast.  Unfortunately, your suggestioin on #81 does not address the issue.

[2015-04-01 06:00] ggilder commented on #7
Sorry to hear that. If you can provide a code sample to show what you'd like to have, I'm sure we can figure something out.

[2015-04-01 06:00] ggilder commented on #7
_From @pruan-rht on February 16, 2015 23:27_

@ggilder, below is an example.  Without being able to access the global_option outside of the sub commands, I would need to add the line 'update_plan_id(options) if options.plan_id' to each of the supported commands.   I deally, I want to have that line executed globally once, so I don't need to add that line for all of the sub-commands.  Hope that cla

[2015-04-01 06:00] ggilder commented on #7
Thanks, I think this and @akostadinov 's comments on #81 have clarified the use case. In your case, though, could you just use the existing facility to provide a block for a global option? I'm wondering if something like this would work:

[code]

That wouldn't work, however, if `update_plan_id` needs other global options.

[2015-04-01 06:00] ggilder commented on #7
_From @pruan-rht on February 17, 2015 0:59_

@ggilder, you are correct, that will work for my particular case fortunately since the update_plan method doesn't need other global_options.  Thank you for the pointer...I think this would be a good example to put into the README/example section to cut down the noise to you.  Anyway, I still think it would be good to have a way to access the global_opti

[2015-04-01 06:00] ggilder opened #8 "Default help formatter hard limits command length to 20 characters"
_From @jszwedko on March 2, 2015 19:26_

It would be nice if this was instead based on the length of the longest command or was configurable.

https://github.com/tj/commander/blob/master/lib/commander/help_formatters/terminal/help.erb#L12

@stephenchu

_Copied from original issue: tj/commander#98_

[2015-04-01 06:00] ggilder commented on #8
Hmm, it doesn't "limit" the name, it just doesn't line everything up any more if you have a name longer than 20 characters. In any case, would you be interested in putting together a patch for this?

[2015-04-01 06:00] ggilder commented on #8
_From @jszwedko on March 2, 2015 19:50_

Sorry, I should have been clearer -- yeah, it's just the command descriptions don't line up for commands whose name is longer than 20 characters (we discovered this using the "subcommand" pattern discussed here: https://github.com/tj/commander/issues/52).

I'll take a crack at a patch.

[2015-04-01 07:24] Sovietaced commented on #3
I just gave it a shot but didn't get very far. I'm not that familiar with ruby but when I see really idiomatic ruby code I get confused as hell. Going to abort.

[2015-04-06 13:10] maciejczyzewski opened #11 "Problem with the width in console? (short lines)"
I worked on the old version of commander. (the one from before the transfer to _commander-rb_)
When I did the update, I notice this strange view: (short lines)

![LOL](https://dl.dropboxusercontent.com/u/103345209/Screenshots/Screenshot%202015-04-06%2014.58.06.png)

What's wrong??? Maybe someone knows?

[2015-04-06 15:54] ggilder commented on #11
Hmm, we did have a change to the help formatter recently: https://github.com/commander-rb/commander/pull/9

Can you try running this with commander 4.3.2 (rather than the master branch) and let me know if the problem persists?

[2015-04-06 16:01] maciejczyzewski commented on #11
I use commander  __4.3.2__! :cry:

[2015-04-06 16:19] ggilder commented on #11
Is there a difference with 4.3.1? If you can pinpoint the version where this changes, that would help narrow it down.

[2015-04-06 16:27] ggilder commented on #11
Actually, I'm thinking this may be an issue with the updated HighLine dependency. Can you try adding the following to your program after any `require` statements?

[code]

[2015-04-06 16:33] maciejczyzewski commented on #11
Results:

 - Last working version of commander is __4.3.0__!
 - Answer for you question: ```Terminal dimensions: [29, 87]``` (ok)

Checked using RVM ```ruby 2.0.0p598 (2014-11-13 revision 48408) [x86_64-darwin14.1.0]```

[2015-04-06 17:31] maciejczyzewski commented on #11
Solved! Change this [#L20](https://github.com/commander-rb/commander/blob/master/commander.gemspec#L20) to:
[code]
(proved by local build, should report it as bug at _highline_ repository)

[2015-04-06 20:48] ggilder commented on #11
Ok, sounds like a bug with HighLine then if those dimensions are wrong for your terminal. Can you file an issue there and link it for reference to this issue?

[2015-04-19 04:08] abinoam commented on #11
It's probably a regression in HighLine.
Reporting columns and lines in reverse order.
https://github.com/JEG2/highline/pull/139

[2015-04-19 22:53] abinoam commented on #11
Fix released at https://github.com/JEG2/highline/pull/139#issuecomment-94320055
Could @maciejczyzewski  and the others please confirm is working in your setups?

[2015-04-21 18:32] ggilder commented on #11
I've released 4.3.3 with an update to use highline 1.7.2. @maciejczyzewski please let me know if you're still seeing any problems.

[2015-04-21 18:32] #11 closed

[2015-04-21 19:16] maciejczyzewski commented on #11
@ggilder @abinoam now it's working :+1:

[2015-04-22 03:10] abinoam commented on #11
Great :+1:

[2015-05-03 19:44] KrauseFx opened #12 "Broken compact help formatter"
With the most recent version, the help formatter is broken, resulting the following stack trace:

[code]

[code]

This can be reproduced using the [fastlane](https://github.com/KrauseFx/fastlane/blob/master/bin/fastlane) gem. When I remove the help formatter specification it's working just fine.

[2015-05-03 19:48] KrauseFx commented on #12
In the mean time, I disabled the compact formatter: https://github.com/KrauseFx/fastlane/blob/master/bin/fastlane#L20

[2015-05-04 02:04] ggilder commented on #12
Thanks for catching this. Good incentive to add a spec for the compact formatter so that this kind of regression doesn't happen again. :wink:

I've just merged a fix and released version 4.3.4.

[2015-05-04 02:05] #12 closed

[2015-05-04 09:22] KrauseFx commented on #12
Thank you @ggilder for pushing a fix so quickly, it's working now! :+1: :rocket:

[2015-08-04 21:34] neurogenesis opened #14 "documentation / clarification for subcommands"
The features mention the use of multi-word commands / subcommands, but it's not immediately clear to those new to Ruby as to how that would be done.

Would it be possible to update the documentation to reflect subcommand examples?

Thank you in advance!

[2015-08-07 19:54] oschrenk commented on #14
Have the same question. Would be great to see some examples.

[2015-08-09 07:30] ggilder commented on #14
There are a few examples of multi-word commands in the readme: https://github.com/commander-rb/commander#command-aliasing

I agree that it's not very explicit, though. If you would like to put together a pull request to add clearer documentation, that would be awesome!

[2015-09-08 07:57] ANTARESXXI opened #16 "Command pipeline and short command sequences support"
Hello!

Is there any solution to use command sequences in a short way? For example:

**my_gem_based_on_commander cmd1 [some_args] && cmd2 [some_other_args]**

instead of

**my_gem_based_on_commander cmd1 [some_args] && my_gem_based_on_commander cmd2 [some_other_args]**

Also is there any way to support command pipeline (passing results from one command to another like in macos's bash) ? For exampl

[2015-09-08 16:16] ggilder commented on #16
Hmm, I don't think there's really any way to achieve that without "reinventing the wheel" of shell operators. Operators like `&&` and `|` are parsed by the shell, and an individual program has no ability to "see" them. If you want the composability that the shell gives you, I'd say that's probably a sign that your individual commands are different enough that they should just be split into separat

[2015-09-09 07:21] ANTARESXXI commented on #16
Ok, thanks for reply.

[2015-09-09 07:21] #16 closed

[2015-10-23 10:14] pghalliday commented on #2
I want this! :)

But seriously I think we need to differentiate 2 use cases. I think the original request is simplest and I interpret to mean that when I'm typing my command at a bash prompt, pressing tab tells bash to list the valid options.

The second use case, for which https://github.com/antirez/linenoise might be used (@deepak1556) would be to have tab completion on HighLine prompts (ie. whi

[2015-10-23 10:19] pghalliday commented on #2
As a bonus, `commander init` (or a new command) could also be updated to generate standard completion scripts for known shells :)

[2015-10-23 22:19] pghalliday commented on #2
Ok, I've been playing with this and have a solution that works for me.

First I tried the approach described above - it was easier to do with commands than options. ie:

[code]

The problem was that in my case the `complete` command was too slow for tab completion (I think mainly due to ruby start up time). It worked but it was annoying as it took about a second or longer to respond. Then I had a

[2016-01-07 00:34] ggilder commented on #8
Oops, I believe this was actually fixed in 4.3.4.

[2016-01-07 00:34] #8 closed

[2016-01-07 00:35] #14 closed

[2016-01-11 22:20] lebogan opened #20 "`commander init` should be able to genearate a modular-style stub"
Is it possible to heve 'commander init' generate a modular-style stub? If not now, may I submit this as a new feature request?

Thank you for the great dsl.

Lewis

[2016-01-12 18:54] ggilder commented on #20
Thanks, great suggestion. I've updated the title to be a little clearer.

[2016-01-17 19:28] lebogan opened #21 "Constant depreciation error with Ruby 2.3.0"
Ruby 2.2.3 does not give this error so my guess is that 2.3.0 isn't supported yet. Is this something that can be resolved as an issue?

.rvm/gems/ruby-2.3.0/gems/commander-4.3.5/lib/commander/user_interaction.rb:334: warning: constant ::TimeoutError is deprecated

Thanks for your help.
Lewis

[2016-01-18 19:38] lebogan commented on #20
Please note: I am a network engtineer, not a software developer. I leave that to the pros.

That said, I managed to come up with a solution using bundler and commander. I have written a program using commander 'classic-style' to write a here-doc to a file in project_dir/exe. I used the commander source as an inspiration.

This solves my issue for now.

Thanks for this great software.

  exe_name =

[2016-01-20 23:14] #21 closed

[2016-02-02 20:02] lebogan opened #23 "Modular style gotcha"
I have been using bundler, rake, and geminabox to build and distribute my gems locally. When I build a classic-style app via the above everything works as expected. Not so with the modular-style. Using 'bundle exec' works. Using 'rake install' does not. My app basically never runs. I traced using this snippet at the end of my app:
[code]
Running 'bundle exec exe/modapp':
[code]
Running 'modapp [op

[2016-02-03 14:28] sts opened #24 "user_interaction: Use RbConfig instead of obsolete and deprecated Config"
The change from ffc4e0d1b47b8d04ad271f19eaef2c9154066924 included in 4.3.6 triggers a warning on Ruby 2.1.5p273 (Debian Jessie). Reversing the change, fixes the warning:

```/var/lib/gems/2.1.0/gems/commander-4.3.7/lib/commander/user_interaction.rb:333:in `const_get': Use RbConfig instead of obsolete and deprecated Config.```

[2016-02-03 21:36] lebogan commented on #20
This can probably be closed unless it's accepted as a future feature request.

Thanks.

[2016-02-04 12:03] sts opened #25 "Provide heredoc helper"
It would be great if commander would provide a helper to unintend a String created with a heredoc. Some seem to solve this "elegantly" via a core_ext to String:

[code]

[2016-02-05 06:36] ggilder commented on #25
This is already provided in ActiveSupport, I'd probably suggest just using that: http://edgeguides.rubyonrails.org/active_support_core_extensions.html#strip-heredoc

[2016-02-05 06:36] #25 closed

[2016-02-05 06:38] ggilder commented on #20
I don't have another way to track feature requests so leaving the issue open is fine. If you feel like attempting the patch to `bin/commander` go for it...

[2016-02-06 05:01] lebogan commented on #20
Ok. I repeat - I'm not a software developer. I think I have something to submit as soon as I can figure out how to do a 'pull request?'. I committed my patch to lebogan/commander.

[2016-02-09 17:56] #23 closed

[2016-02-09 18:17] ggilder commented on #23
@lebogan just checking, were you able to resolve this issue?

[2016-02-09 18:20] ggilder commented on #24
Fixed in 4afaefc321f196e54a61840ef6cd6b85e5c3e51d, will release soon

[2016-02-09 18:20] #24 closed

[2016-02-09 18:53] ggilder commented on #24
Released as 4.3.8

[2016-02-15 18:37] mfurtak opened #27 "--[no-]blah style flags fail when used with `global_option`"
There seems to be a problem when using '--[no-]blah' style flags as part of a `global_option`. Specifically, the flag appears to not be accounted for during bookkeeping in `remove_global_options`.

The following test program exhibits the problem:

[code]

When run with `./commander_example.rb foo --exclaim`, the result is:
[code]

When run with `./commander_example.rb foo --no-exclaim` the result

[2016-02-16 11:15] mariusmarais opened #29 "Cannot have switches that start with 'version'"
Or other global long option names.

`runner.rb:340` is the culprit as it essentially does a `starts_with` comparison.

As a test case, create an option named `versionCode`, which when specified on the command line, gets deleted after `remove_global_options`.

[2016-02-19 19:13] #29 closed

[2016-02-19 21:44] mfurtak commented on #27
Fixed in #28

[2016-02-19 21:44] #27 closed

[2016-02-26 00:55] lebogan commented on #20
I want to close this with the release of 4.4.0. Ok?

[2016-02-26 00:56] ggilder commented on #20
Oops, good catch, closing!

[2016-02-26 00:56] #20 closed

[2016-07-15 23:16] msabramo opened #32 "Global options not available at command level when placed before command name"
At https://github.com/commander-rb/commander#global-options, it says:
#### ---- begin snip ----

All global options regardless of providing a block are accessable at the command level. This
means that instead of the following:

[code]

You may:

[code]
#### ---- end snip ----

but I have been unable to get this to work.

I have:

[code]

And then I do this:

[code]

Note that `$server` **is** set,

[2016-07-26 23:53] ggilder commented on #32
Hmm, this appears to be a bug in the order of parsing global options. In your example, I believe this will work:

[code]

Note that the `--server` flag comes after the command name there.

I will update the issue title to reflect this.

[2016-08-12 18:57] lebogan opened #34 "Nesting options or adding flags to options?"
Does this even make sense?:

I'm building a simple Sinatra application builder with Commander. On my option to build with the inline method, I want to choose between Slim or Erb. It would go something like this:
[code]
Those two flags would only belong to the --inline option.

Thanks for any thoughts on this.

[2016-08-12 21:14] ggilder commented on #34
It's an interesting use case — albeit one that almost seems too complicated for a command-line tool 😉

In general I don't think I've seen a command-line app framework that supports something like this, but there's a few workarounds I've seen:

1. Each of the flags is just a normal option, and your command does some validation, e.g. raise an error if you use `-s` without `--inline`, or raise an err

[2016-08-13 01:09] lebogan commented on #34
As always, thanks for your insight. Commander can handle this!:-) I'm
testing both options so I will close this issue.

Lewis Bogan

On Fri, 2016-08-12 at 14:14 -0700, Gabriel Gilder wrote:

complicated for a command-line tool 😉 

supports something like this, but there's a few workarounds I've
seen:

validation, e.g. raise an error if you use -s without --inline, or
raise an error if you use --in

[2016-08-13 01:12] #34 closed

[2016-08-14 15:41] ignazioc opened #35 "[Question] How to create a command suite with two levels of commands."
Thanks for the great job.
I'm wondering if with this tool is possible to define two levels of commands. For example:

    git remote add
    git remote rm

Where `git` is the name of the script, `remote` is the 1st level of command and `add` | `rm` are the actual commands.

Thanks.

[2016-08-18 08:42] azgul commented on #35
Curious about this too! I realize that you can do
[code]
but this litters commandName --help heavily if there are is a lot of sub commands for each command :(

[2016-08-19 04:18] ignazioc commented on #35
I switched from `commander` to `GLI` that supports this syntax by default.

[2016-08-19 04:18] #35 closed

[2016-09-20 10:50] Navneets060 opened #36 "deprecation warning about MissingSourceFile that is being thrown when commander v4.4.0 is used with ActiveSupport v5+"
Commander gem shows `DEPRECATION WARNING: MissingSourceFile is deprecated! Use LoadError instead.` warning when we use commander v4.4.0 with ActiveSupport v5+.

warning is thrown from `/lib/commander/user_interaction.rb` while executing

[code]

which defines the deprecation_message method for the ActiveSupport::Deprecation::Reporting module `lib/active_support/deprecation/reporting.rb` while exec

[2016-12-02 23:33] #36 closed

[2016-12-28 16:05] cguess opened #41 "Deprecation warnings in Ruby 2.4"
Ruby 2.4 throws deprecation errors when running Commander:

[code]

The relevant parts of the docs are here:
https://ruby-doc.org/core-2.4.0/Object.html

[2016-12-28 20:53] #41 closed

[2016-12-28 21:04] ggilder commented on #41
Fixed in Version 4.4.3 (just released)

[2017-01-24 03:59] puttin opened #43 "Support short option together?"
[code]

`$ magic -st`

[2017-01-29 20:42] ggilder commented on #43
This is already how commander works. If you're experiencing problems please post a more detailed reproduction case.

[2017-01-29 20:42] #43 closed

[2017-03-13 16:30] akostadinov opened #45 "allow changing `-h` option"
Hi, sometimes it's preferable to disable `-h` option and have only `--help`. This for example when hostname is to be specified. Please make `-h` option configurable. `--help` is fine, there can be no confusion.

[2017-03-14 00:18] ggilder commented on #45
Unfortunately this is not possible without replacing the OptionParser library (which is part of Ruby's standard library). We already have an open issue for this: https://github.com/commander-rb/commander/issues/6

[2017-03-14 10:19] akostadinov commented on #45
I don't think this is the same issue. #6 talks about `--` followed by a letter, not single `-` followed by a letter. Also there is some indication the problem is not present with global options.

I have tested that this is the case. From `~/.gem/ruby/gems/commander-4.4.0/lib/commander/runner.rb` when I remove `'-h'` from line 55, then the `-h` option is usable (at least as a global option, I have

[2017-03-14 23:35] ggilder commented on #45
Sorry, the issue is a little buried in there - if you check out the [StackOverflow link][1] it describes the problem. Here's a short demo case though:

[code]

Basically OptionParser always sets up the short version of an option, whether you specify it or not.

I tested and it does look like removing the `-h` allows the use of a `-h` global option — it would also work to change the order in which

[2017-03-15 21:51] akostadinov commented on #45
My use case is to use as a global option. I guess there might be other use cases where people want to use as a command option but not me atm :)

I didn't test but I wonder what happens if we register another short option (possibly some weird unicode character) for the short opt. Would that make opt-parser skip registering `-h`. I have to try it out.

[2017-03-17 03:50] fangxing204 opened #46 "how do I define a command dynamiclly"
From the README, it seems all command is predefined by command method, but  I want to create a command dynamic.

[2017-03-22 03:41] ggilder commented on #46
I don't see anything preventing dynamic creation of commands... if you can provide an example of the problem, I'll be happy to investigate.

[2017-03-22 03:41] #46 closed

[2017-05-10 19:20] JosephPecoraro opened #47 "Options with arguments may not be properly removed before executing command"
Options with arguments may not be properly removed before executing command.

Test program:

[code]

Example:

[code]

Here it is clear that the Global Option handler for `--target` ran and received the expected argument `1`. However this global option was not consumed before invoking the sub-command, and produced invalid option. Doing the same thing without an `=` sign works for both global optio

[2017-05-24 23:04] lebogan opened #48 "Revisit documentation / clarification for subcommands #14"
I have been playing around with the command aliasing feature and would like to take a crack at adding to the documentation. From what I can see this isn't a true sub-command structure but the potential for organizing commands with it is awesome.

This is what a sample help screen looks like:
[code]
I appreciate any advice you have on this matter.

Thank you.

[2017-05-30 01:32] ggilder commented on #48
If you're interested in adding to the docs I would say take a shot at editing the section in the README — anything clarification you can add would be great!

[2017-05-30 01:32] #48 closed

[2017-07-23 20:15] lebogan commented on #48
I would like to reopen this. The project that spawned this request is working well. Just need to document it for some of my former colleagues. My pull request is failing the Travis integration and I need some help.

Thank you.

[2017-07-30 01:02] mastermindg opened #53 "Display --help on missing option"
I have a command with a required option. How can I display the help page to the user if this option is not set?:

[code]

[2017-08-03 19:07] lebogan commented on #53
mastermindg,
Not sure what your use case is. If you really need help to display, try this:
[code]
Please note, this is not a public (published) option. I dug this out of the commander source code. You might want to seriously review your use case as this solution may not be very portable.

Commander out-of-the-box is pretty complete and rethinking my process has helped me a lot. I am not a develope

[2017-08-24 22:16] ggilder commented on #53
It seems like @lebogan 's workaround would do the trick. Closing the issue

[2017-08-24 22:16] #53 closed

[2017-11-08 16:12] skyfmmf opened #57 "Deprecation warning when used together with pg"
When using both, your gem and the pg gem (for PostgreSQL) in a project, I get a deprecation warning from pg as they have deprecated some of their constants. To get the deprecation warning when using the old constants, pg moved them in a special file (
https://bitbucket.org/ged/ruby-pg/src/master/lib/pg/deprecated_constants.rb) that is not needed normaly. But as you are walking through all constant

[2017-12-01 05:31] valleybay opened #58 "Inline --help instead of man page"
Would it be possible to have --help show inline, like with many other CLI-tools, instead of it opening a man page?

[2017-12-17 16:55] gmontard commented on #58
👍

[2017-12-17 19:24] lebogan commented on #58
Hello @valleybay,

Are you looking for a less verbose help screen? Which CLI-tools are you refering to? Something like?:
[code]
And have the longer style available with:
[code]
Or maybe for the less verbose style, something like?:
[code]

[2017-12-20 09:29] gmontard commented on #58
The thing that annoy me is the fact that the help open kind of a "new page" in the terminal, it's not displayed inline. Am I missing something?

[2017-12-20 22:05] ggilder commented on #58
I believe you're talking about the behavior where the help text opens in your terminal's PAGER program (usually `less`) if it is too long to be displayed in the height of the current terminal. You can disable that behavior by setting the following flag in your program:

[code]

I see that this option is not very clearly documented... if you want to submit a patch to the readme please do!

[2017-12-20 22:05] #58 closed

[2017-12-26 20:46] xbelanch opened #60 "Read options.default from anothe class?"
Maybe that's a dumb question, but firs of all take a look at this minimal working example:

[code]

Well actually I'm trying to acces to options.default value outside the Commander space object, but I failed. What am I missing?

Thanks in advance

[2017-12-26 21:45] xbelanch commented on #60
That was easy:

[code]

[2017-12-26 23:39] xbelanch commented on #60
Sorry, there was a mistake in the last post:

`if option.name = 'hello'` must be `if option.name == 'hello'`

I played a little bit with the code to find a workaround and I found this that works I expected (but sure there must be another fine way to do it!)

[code]

[2017-12-27 01:07] xbelanch commented on #60
Another question: If you comment the "run!" method the options are not processed (and they are not passed on the return). Uncommented it you get twice output if you asking for --version option

[code]

[2018-01-08 19:32] ggilder commented on #60
Hi, I'm not sure exactly what the issue is here, or what you're trying to do that's not working... can you provide a more concise example or explain what is not working? Thanks!

[2018-01-09 05:34] rlgomes opened #61 "deprecation error when running with ruby 2.5.0"
Seeing the following:

/usr/local/lib/ruby/gems/2.5.0/gems/commander-4.4.3/lib/commander/user_interaction.rb:334: warning: constant ::Data is deprecated

When running with ruby 2.5.0 on Mac OS High Sierra. Let me know if any other info is necessary and I'll provide it.

[2018-01-18 19:38] #61 closed

[2018-02-03 12:43] dcepelik opened #64 "Cannot define my own -v and --version params"
The `-v` and `--version` default global options prevent me from defining my own `-v` and `--version` parameters to commands. (As the tool I'm writing deals with versions, this is a bummer.)

Is it really impossible to prevent Commander from adding these defaults, or have I missed something? In the former case, I'll be happy to submit a patch.

Commander is really great, thanks!

[2018-02-03 20:56] ggilder commented on #64
Unfortunately that's not possible right now. If you'd like to submit a patch, the global options are added here: https://github.com/commander-rb/commander/blob/master/lib/commander/runner.rb#L60
And I would suggest disabling that with a switch similar to `#always_trace!` (https://github.com/commander-rb/commander/blob/master/lib/commander/runner.rb#L99) or maybe a key for `#program` (https://githu

[2018-02-05 09:16] dcepelik commented on #64
Hello @ggilder, thanks for the reply. Unfortunately RSpec behaves really strange with `commander` on my machine. Each time a different number of tests is run, and some tests are failing with a fresh repo. I suspect this is a bug in either Ruby or RSpec (perhaps related to randomization). Have you ever seen anything like that? Tested with Ruby 2.3.1, 2.4.3 and 2.5.0 (using `rvm`).

[2018-02-05 09:18] ggilder commented on #64
How are you running RSpec? `bundle exec rspec` or `bundle exec rake` run consistently for me (and on Travis CI).

[2018-02-05 09:22] dcepelik commented on #64
I'm using `bundle exec rake spec` and `bundle exec rake` both suffer the problem I've described. `bundle exec rspec` indeed seems to give consistent results with ~10 consecutive runs, except that the number of reported exmaples (87) is quite different to what my colleague's machine reports (121).

[2018-02-05 11:08] dcepelik commented on #64
@ggilder, sorry to bother you, but is there any further help you could provide?

[2018-02-05 17:19] ggilder commented on #64
The correct number of examples is 121 as you can see from the Travis CI logs: https://travis-ci.org/commander-rb/commander

I don't think I've ever seen a problem like what you're describing. I'm not really sure why your environment would be behaving like that, but my first suggestion would probably be to uninstall and reinstall the version of ruby you're using.

You mentioned that "some tests are

[2018-02-05 19:53] dcepelik commented on #64
I've already tried reinstalling my Ruby. Unfortunately that wouldn't fix the issue.

One of the failing tests (the other are passing now for some reason), using `bundle exec rake spec`:

    1) Commander with invalid option passed to --help should output an invalid option message
       Failure/Error:
         expect do
           run('--help', 'test', '--invalid-option')
         end.to raise_err

[2018-02-05 20:00] ggilder commented on #64
Is your checkout of commander up to date? Those line numbers don't look right based on the master branch.

The only other things that are coming to mind are, maybe you have some weird RSpec options in `~/.rspec`? Kind of grasping at straws here.

[2018-02-06 06:37] dcepelik commented on #64
@ggilder Found the error, it was my mistake all the time. I didn't actually test against a vanilla repo. I haven't realised I've done a modification I considered too trivial to break anything, but as it turns out, it actually caused this hassle. (I would still like to find out how it's possible for RSpec to succeed with 78 examples when there are 121 and not complain about anything. I'm new to Rub

[2018-02-12 08:40] Zejnilovic opened #65 "Script ignores small switch"
I have specified small switches, so they would show in help and so I have "power" over them. But when I try to use `myscript run  -t alfa`, the type doesnt set. It works for `-i` and `-m` just fine. But with type I need to write `--type`

[code]

`c.option('-t', '--type STRING', String` Does not work either.

[2018-02-12 14:54] Zejnilovic commented on #65
On my way on the subway I realized the -t is small switch for --trace. Moving on.

[2018-02-12 14:54] #65 closed

[2018-02-12 17:56] ggilder commented on #65
That's right, it is a global switch that Commander defines. If that's an important feature you'd like to have, there's a similar issue https://github.com/commander-rb/commander/issues/64 about disabling the `-v` / `--version` predefined switch — you could create a patch if you're interested.

[2018-02-12 22:35] erniebrodeur commented on #32
So, any word on a fix?

[2018-04-27 12:52] ErikVanNorstrand opened #66 "How to parse boolean switches"
I would like to run a command that works like this:

command --foo true --bar true

but look like this:

command --foo --bar

Is this possible?

[2018-04-30 12:33] ErikVanNorstrand commented on #66
Can this be documented in the README somewhere?

[2018-04-30 18:11] ggilder commented on #66
If you'd like to take a stab at a pull request to add it to the readme that'd be great!

[2018-05-17 02:48] doriantaylor opened #67 "state-changing behaviour inhibits `Commander::Command` reuse"
Greets,

I may be completely abusing this library but I figured out I could reuse the command parsing functionality in a shell loop. Only one problem: when `Commander::Command#call` is called, it [empties the array](https://github.com/commander-rb/commander/blob/b040918c4cfa10e15de38870057d20cbf049ca33/lib/commander/command.rb#L174) where the code is kept. The net effect is that you can only `#run

[2018-05-17 03:11] doriantaylor commented on #67
(okay so I was curious and it seems to pass existing tests, so, win?)

[2018-05-17 03:50] ggilder commented on #67
Cool, please submit a PR and I'll take a look!

[2018-05-17 05:13] doriantaylor commented on #67
coming up…

[2018-05-22 18:53] #67 closed

[2018-05-30 21:43] O-kasso opened #69 "Cannot pass '--trace' to alias_command"
When trying to add a "debug" alias to a previously defined command, I can't pass the `--trace` flag to it, even though I could manually append `--trace` when running the command from CLI manually.

e.g.:
[code]
when running `debug`:
[code]
amusingly, if I apply --trace to `debug`:
[code]

It'd be great if I could hardcode always providing traceback for a specific alias, but not show the traceback

[2018-07-30 22:34] ohTHATaaronbrown opened #70 "How do I access the set of options that were given to the active command from within code called by that command?"
In v4.4.4 and before, i could access `Commander::Runner.instance&.active_command&.proxy_option_struct`
from within my library code called by a command, and get access to the options that were handed to the actively running command.

v4.4.5 seems to have broken that functionality.  Is there an alternative way that I should use instead?

[2018-07-31 01:02] ggilder commented on #70
Hmm, the only difference in that version is https://github.com/commander-rb/commander/commit/935e0f679135d315c40cd16b8bf430cb80dd429f by @doriantaylor , but that doesn't modify the `proxy_option_struct` method so I'm not sure why that would have changed. Can you post minimal sample code that works on v4.4.4 and fails on v4.4.5?

[2018-07-31 01:09] ggilder commented on #69
Sorry for the delay responding to this! I'm guessing that the problem is that `--trace` is a global option rather than a command-specific one. By the time your alias is processed, the global options have probably already been handled. I don't know a great way around that, but one approach might be to set up another command called `debug` that calls `always_trace!` and then runs the destination com

[2018-07-31 16:48] ohTHATaaronbrown commented on #70
Hmmm... I've negated my own statement when I went back and tried to make a simple reproduction.

I can't get `Commander::Runner.instance&.active_command&.proxy_option_struct` to return anything at all, as far back as i go with commander versions.  Yet I know it worked at some point, because I used that as the basis for this command that is now broken.

So, I'm instead going to punt here, and ask:

[2018-07-31 22:29] doriantaylor commented on #70
So, this was a little bit hairy from what I recall. This whole construct is brimming with statefulness and most of it probably isn't necessary. Indeed I [call `proxy_options.clear`](/commander-rb/commander/commit/935e0f679135d315c40cd16b8bf430cb80dd429f#diff-f5bc2065042b5aadd9785fa959c5af93R179) because if I didn't, they would just keep accumulating as the command gets re-run. `proxy_option_struct

[2018-07-31 22:50] ohTHATaaronbrown commented on #70
I think I'd suggest `active_run_options` and `active_run_args`, to keep with the naming you have with `active_command`, but I like that idea.

I don't care how it is that I get access to the currently active command's args and options, I just want to be able to do it **somehow**. :)

[2018-07-31 22:52] doriantaylor commented on #70
cool; my involvement in this project is literally that one patch so I could re-run commands in a shell. @ggilder is the authority here.

[2018-07-31 22:56] ohTHATaaronbrown commented on #70
@doriantaylor I was looking at your addition there, and wondering why you couldn't call `proxy_options.clear`  **after** the proc/object call below?  Wouldn't that accomplish both things?  It'd leave `proxy_option_struct` intact for the current run, but clear it before the next.

Or am I reading that wrong?

[2018-07-31 22:57] doriantaylor commented on #70
wouldn't make a difference

[2018-07-31 23:25] ggilder commented on #70
@ohTHATaaronbrown Can you test with that version to see if your code works? You should be able to change your `Gemfile` reference that branch using

[code]

[2018-07-31 23:26] doriantaylor commented on #70
My only concern with that approach is I don't know if there's a use case where the command instance would be invoked via `call` without having first been put through `run` (certainly nothing of mine), however I'm indifferent as long as the tests from 935e0f6 pass.

[2018-07-31 23:31] ggilder commented on #70
Thanks, good point — I think (if I'm reading the code correctly) that everything has to go through `run` to set up the state. There could be 3rd-party code doing weird things with `call` directly but I think that's pretty unlikely.

[2018-07-31 23:32] ggilder commented on #70
@doriantaylor I did modify the test you added slightly — let me know if it still seems like the correct expectation.

[2018-07-31 23:47] ohTHATaaronbrown commented on #70
@ggilder Hmm... It's still not behaving as I'd expect.

https://gist.github.com/ohTHATaaronbrown/68607e1677fd6e3ce722ec3c0db9a271

That's a very streamlined version of how I'm using things.

[2018-08-01 02:32] ohTHATaaronbrown commented on #70
I hadn't run it with `bundle exec`, no. However, when I do, it now behaves as I'd expect it to:

[code]

I am, by the way, running this in ruby 2.3.3 on Windows 10 x64, in case that makes any difference.

Once I made sure to run it through bundler, I'll definitely give my thumbs-up to your solution.

Sorry for the cockup on my part there.

[2018-08-01 02:32] ohTHATaaronbrown commented on #70
Think I could get you to release this to rubygems?

[2018-08-01 02:41] ohTHATaaronbrown commented on #70
Ah, I see the problem you encountered.  I use `ENV['COMPUTERNAME']` in the code, which is always set on the windows machines where I'm running this code, but probably not anywhere else.  It was the downcasing of that that was blowing up.

[2018-08-01 03:09] ggilder commented on #70
Cool, that totally makes sense. Glad it's working as expected now. I'll go ahead and merge #72 and update you when it's released.

[2018-08-01 03:57] ggilder commented on #70
I've released 4.4.6 with this fix. Thanks for identifying the issue, and thanks @doriantaylor for your help diagnosing!

[2018-08-01 03:57] #70 closed

[2018-08-01 13:10] ohTHATaaronbrown commented on #70
@ggilder @doriantaylor thanks for jumping on this so quickly and helping me!

[2018-11-01 14:47] jeffshantz commented on #32
Related to this, I observe inconsistent behaviour with the global options and whether or not they appear at the command level.  For instance, here's a simple command that prints the value of `options.__hash__` for the purpose of testing:

[code]

When I run this with both command-level and global options, I get the following:

[code]

When I run this with no command-level options, but I keep the g

[2018-11-21 00:10] roberts1000 opened #74 "Prevent default command from running when user specifies an unknown command"
If I use `default_command`, any time someone runs an unknown command, Commander executes the default command.  Is there any way to make Commander operate similar to bundler, and have it throw an error in this situation?  I only want it run the default command when no sub command is specified.

[code]

[2018-11-26 20:32] ggilder commented on #74
I'm afraid that's the way the feature is designed to work. I'm not sure if it's a good idea to change that as it could break the way people expect it to work. I'm open to being convinced, though. 😄

[2018-11-26 20:32] #74 closed

[2018-11-26 20:34] #69 closed

[2018-11-26 21:32] roberts1000 commented on #74
Thanks for confirming.  Could we potentially have `default_command` take an optional argument that can change the behavior?

[code]

Then the old behavior can continue to work as-is, but people can opt-in to the new feature if they want it.

[2018-11-26 21:44] ggilder commented on #74
Yeah, something like that sounds reasonable. Would you like to take a stab at implementing that and make a pull request?

[2018-11-27 05:17] roberts1000 commented on #74
Sounds good.  I'll take a look as soon as I can.  Thanks for considering the enhancement.

[2018-12-19 11:05] badeball opened #75 "--"
Double dash as described in https://github.com/tj/commander/issues/34, seems to be broken after 4.4.0, specifically after https://github.com/commander-rb/commander/commit/420ffa9.

The mentioned example yields `-x` as an option rather than argument, when used in conjunction with double dash.

Additionally, it fails to parse EG. `ruby test.rb foo -- --foo`.

[2019-01-26 17:28] tsetsik opened #76 "Integration with Aruba in_process"
Imagine the following case:

I'm using aruba in my cucumber BDD tests, which by default is executing the commands in a child process.
That is slow and doesn't allow me to stub/mock components. So the alternative which they provide is called `in_process`, which is not spawning a new process, it uses the current one .
With this approach you have to trigger your application, since my application is C

[2019-02-14 00:16] grosser opened #78 "Add readme docs on how to handle exit status"
[code]

[2019-04-15 23:46] Justin-W commented on #32
I think I may have run into the same problem. Any global_option method call without a block doesn't seem to affect my command's options instance. So I'm currently having to add a block (which does manual value processing) to each global_option call. Rather irritating, and also completely contrary to the official documentation:

see: [commander-rb/commander: The complete solution for Ruby command-l

[2019-05-13 16:18] jeffshantz opened #80 "Option argument parsed as a global option"
I'm using Commander 4.4.7.  I am noticing that if I have an option that takes an argument, and the argument starts with a global option, the argument is parsed as a global option.

[code]

When I run the program, it interprets `-vers=3.0` as the global option `-v`:

[code]

If I use `=` to separate `--options` from its argument, it works as expected:

[code]

So, we have a workaround, but I still

[2019-05-13 16:30] ggilder commented on #78
Sorry, I'm not sure what the issue is here... please feel free to submit a PR to update the docs if that's what needs to be changed. Thanks!

[2019-05-13 16:30] #78 closed

[2019-05-13 16:31] ggilder commented on #64
Closing this issue since it hasn't been updated in a long time — please feel free to reopen or submit a PR if this is still relevant. Thanks!

[2019-05-13 16:31] #64 closed

[2019-05-13 16:32] ggilder commented on #45
Closing this issue since it hasn't been updated in a long time — please feel free to reopen or submit a PR if this is still relevant. Thanks!

[2019-05-13 16:32] #45 closed

[2019-08-02 16:01] binaryape commented on #32
I'm having the same problem, I think - my CI tests broke recently and commenting out a global `--verbose` option and adding it to each command instead fixed the problem. This seems to imply it wasn't a bug in the past...

[2019-08-02 16:32] ggilder commented on #32
@binaryape any chance you know which version of commander you were using before, where your CI was passing?

[2019-08-03 17:38] binaryape commented on #32
My gem spec specifies "~>4.4""

On my old desktop Mac (where the tests pass) Commander version 4.4.4 is in the Gemfile.lock.

The CI has no state between runs so at the time I was using it for the original dev work it probably also used 4.4.4. I haven't made any changes for a long time so it didn't run again until yesterday.

Yesterday I was starting on a long-overdue patch release on a new laptop

[2019-08-05 16:25] ggilder commented on #32
@binaryape interesting, v4.4.4 and v4.4.7 were both released quite a bit after the original issue in this thread so I'm not sure if the bug you're encountering is strictly the same issue.

In any case, would you be able to put together a reduced test case that demonstrates the issue? That would help narrow down what change caused this bug.

[2019-08-13 11:54] tayjaybabee commented on #32
I am developing a CLI program with Commander and I have --verbose specified as a global option but on the command level it's not recognized when passed

[2019-08-13 12:11] binaryape commented on #32
Yes (hopefully soonish)

[2019-12-12 09:47] paul-mesnilgrente commented on #76
I have the same issue, I don't want to use ARGV but an array I have in the code.

[2019-12-12 10:20] paul-mesnilgrente opened #81 "Usage without ARGV"
Hi,

Is it possible to use this library with a custom Array instead of ARGV? I couldn't find any example of it and I can't figure out the code :/

[2019-12-12 12:26] tsetsik commented on #76
Unfortunately not and to me it's not relevant anymore

[2019-12-12 19:33] ggilder commented on #76
Right now I think the best solution to this would be what Commander's own specs use - take a look at `#new_command_runner` in `spec/spec_helper.rb` which includes this line:

[code]

That allows you to run specs with arbitrary arguments by passing them in to a setup method.

I know that's a little clunky — if you're motivated enough to submit a pull request to provide a better interface, I'd be gl

[2019-12-12 19:33] #76 closed

[2019-12-12 19:33] ggilder commented on #81
Answered in #76 but copying here:

Right now I think the best solution to this would be what Commander's own specs use - take a look at `#new_command_runner` in `spec/spec_helper.rb` which includes this line:

[code]

That allows you to run specs with arbitrary arguments by passing them in to a setup method.

I know that's a little clunky — if you're motivated enough to submit a pull request to pr

[2019-12-12 19:33] #81 closed

[2020-01-17 23:49] ggilder commented on #75
Somehow I missed this issue... I just tried the test case you mentioned and the behavior does seem to be broken. It appears that it was working with version 4.3.0, so I'll take a look and see if I can figure out where this regressed. Thanks for reporting this issue, and sorry for taking so long to notice it!

[2020-01-17 23:52] ggilder commented on #75
Breaks between 4.3.8 and 4.4.0; possible commits breaking this are f64289b, 38a5817, 420ffa9, 9740771

[2020-01-21 18:34] ggilder commented on #75
Fixed in version 4.5.0 (just released).

[2020-01-21 18:34] #75 closed

[2020-01-21 18:57] ggilder commented on #80
Hmm, I'm not sure this is a bug so much as undefined behavior. From the shell's perspective, the invocation you mention is no different from the following:

[code]

In other words, the quotes don't matter because they're interpreted away by the shell. That might clarify why in this situation, commander sees a global option.

I'm not totally sure what the correct behavior is here, but it is interes

[2020-01-21 20:10] jeffshantz commented on #80
I understand that the quotes are removed by the shell, but I would argue that the parser should understand that `--options` takes an argument and therefore the next argument would be the argument to `--options` and not an option of its own.

[2020-03-07 12:50] orien opened #86 "Global option values ignored when args provided"
Global options are ignored when additional command line arguments are also provided.

Using the test harness below, I get the following results.

#### 1. Without extra arguments provided ✅

In this scenario without extra arguments provided, the command correctly uses the provided global option value.

[code]

#### 2. With extra arguments provided after the global config :x:

However with arguments

[2020-03-07 13:01] orien commented on #86
This was working in version 4.4.5, but not in version 4.4.6 and later. I assume something in this https://github.com/commander-rb/commander/compare/v4.4.5...v4.4.6 change set is the culprit.

[2020-03-08 10:40] orien commented on #86
The problem is in the clearing of the `Command#proxy_options` during the parsing of command options.
https://github.com/commander-rb/commander/blob/adaa197613bfc7833f7d3b23bc702a0507b9ee24/lib/commander/command.rb#L166

The expectation seems to be the `proxy_options` will be repopulated during parsing. However, this process only repopulates the command specific options, and not the global options.

[2020-03-08 10:43] orien commented on #86
One way to solve this is to separate the `proxy_options` into global and command specific options. Then, clear only the command specific options during command option parsing.

I'll put this in a pull request and see how it looks.

[2020-03-08 20:13] #86 closed

[2020-03-09 05:16] orien commented on #80
Looks like the problem is in the parsing of global options:

https://github.com/commander-rb/commander/blob/0abbac486ea7d87f6f680aaf17d0e3cd136dbf73/lib/commander/runner.rb#L380-L386

In normal usages, it'll raise on the command specific options, which will then be removed via the rescue block.

In the scenario detailed in this issue: `test.rb --options -vers=3.0`. Only the `--options` token will

[2020-03-09 17:24] ggilder commented on #80
Exactly, global options are parsed in a first pass before parsing command options. The `OptionParser` example provided by @jeffshantz above works because there is only one pass on parsing the options.

[2020-03-09 17:27] #32 closed

[2020-03-12 21:30] #47 closed

[2020-03-12 23:30] JosephPecoraro commented on #47
Awesome!!

[2020-03-14 04:59] JosephPecoraro opened #94 "Regression: `--help` no longer works anywhere on the command line"
Given a sample program:

[code]

Previously you could use the global `--help` anywhere on the line but now you can't. This used to provide the help for `cmd`, but no longer does:

[code]

Seems like a recent regression.

[2020-03-14 04:59] JosephPecoraro commented on #94
@orien Recent regression due to your changes? I find it extremely useful that I could just add `--help` at the end of a line to force get the help for the command.

[2020-03-14 06:27] orien commented on #94
Hey @JosephPecoraro, I'm trying to track down a version of Commander where the example works but cannot find one. I've tried several, going back to version 4.4.0. They all seem to give the same result.

[code]

Which version is working for you?

[2020-03-14 06:39] ggilder commented on #94
I'm also having trouble finding a version where that specific example works. The version without argument works, both in the latest version and previous:

[code]

But adding the argument "a" causes the invalid command error at least back to v4.1.

[2020-03-14 07:54] JosephPecoraro commented on #94
Hmm, well I may have been using a super old version of commander... It does seem like this should work though right?

[2020-03-15 22:58] #94 closed

[2020-03-15 23:28] ggilder commented on #57
Hi, it seems that the original repository for the gem you mentioned has been deleted. If this is still an issue, please reopen and identify the deprecated constants that should be ignored. Thanks!

[2020-03-15 23:28] #57 closed

[2020-06-19 20:17] drusellers opened #96 "Recommended way to access args after --"
I'm building an application that will ultimately call another script. I would like to have a way to delineate between the commands proper args and options versus whats after the `--`

[code]

How can I get everything after the `--` using commander, or do I need to inspect the `$*` on my own.

[2020-06-20 22:41] ggilder commented on #96
Anything after the `--` is treated as arguments. If you have a command like the following:

[code]

Then everything after the `--` will be present in `args`:

[code]

[2020-06-20 22:41] #96 closed

[2020-06-22 12:40] drusellers commented on #96
My apologies, let me try again.

Given the following command

[code]

Let's say I invoke this like

[code]

How can I know that the `-x` came after the `--`?

[2020-06-25 01:55] ggilder commented on #96
Ah, I see, thanks for the clarification. That is not supported in commander, because it isn't supported by the underlying [OptionParser](https://ruby-doc.org/stdlib-2.7.1/libdoc/optparse/rdoc/OptionParser.html) library in Ruby's standard lib. As far as I can tell it is not common for standard option parsing libraries to make this distinction. Please let me know if you've found a counterexample.

I

[2020-07-02 13:55] drusellers commented on #96
@ggilder totally understand - just coming from rust w/ clap - https://github.com/clap-rs/clap/issues/971

[2020-09-22 18:41] robertgates55 opened #97 "--help with additional --options gives 'command not found'"
I often find mysql wanting to put `--help` on the end of a command to see the help text for that command. With commander, if I do that though, I first have to remove any --option options passed.

Example:
[code]

Results in:
[code]

Is there any way to make this possible?

[2020-09-29 04:27] ggilder commented on #97
Hmm, the invocation in your example is missing a command, which I think is what commander is complaining about. If you run the following does it work?

[code]

[2020-09-30 16:40] duco-lw commented on #97
It outputs nothing, exit code 0.

Altering the test file a little:
[code]
### A
Command: `ruby yourfile.rb bob --help` or `ruby yourfile.rb --help bob`
Output:
[code]
Good :+1:

### B
Command: `ruby yourfile.rb bob --aaa=3 --value=4`
Output:
[code]
This is as expected. :+1:

### C
Command: `ruby yourfile.rb bob --aaa=3 --value=4 --help` or `ruby yourfile.rb bob --aaa=3 --help --value=4`
Output:
[c

[2021-04-07 07:52] briancolfer-upstart opened #98 "SortedSet extracted from set add sorted_set gem to runtime dependencies"

[2021-04-07 20:36] ggilder commented on #98
I don't understand this issue, please provide some context on what problem you're seeing.

[2021-04-08 19:03] briancolfer-upstart commented on #98
When I run the rspec tests I get:

[2021-04-09 04:12] ggilder commented on #98
Thank you, that helps. I don't think requiring the `sorted_set` gem is the ideal solution though — this `AskForClass` code has been problematic with a number of these constants that get deprecated over time, and it would be great to have a more permanent solution. Feel free to put together a PR if that makes sense, otherwise I will try to revise the logic.

[2021-04-09 17:02] ggilder commented on #98
It looks like this issue only occurs on Ruby 3, per https://dev.to/aaronc81/removing-functionality-the-ruby-way-a-look-into-sortedset-on-ruby-3-clf

[2021-04-09 20:54] ggilder commented on #98
Fixed in version 4.6.0 (just released). Thanks for flagging this!

[2021-04-09 20:54] #98 closed

[2021-05-19 15:19] helge000 opened #100 "Please provide an example on how to call another command from within a command's block"
I couldn't feature out which method to call when I need to call a defind command from within another command's block. Example:

[code]

[2021-05-23 23:44] ggilder commented on #100
I don't think there's a reasonable way to do what you're describing. For starters, what should the arguments to the "inner" commands be? In some cases you might want the arguments that were passed to the outer command, but not in others.

In this situation I would really recommend decoupling your application code from the commander DSL — structure your code within its own class or module and call

[2021-05-23 23:44] #100 closed